<!DOCTYPE html>
	<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to Challenge Service</h1>
		<p>
			Your friend <%= @bet.user_owner.email%> send You invitaion to Challenge,
			Challenge name: <%= @bet.name%>.<br/>
		</p>
		<p>
			Please visit us on www, and join to the game and follow the CHALLENGE.
		</p>
		<p>Thanks for joining and have a great day!</p>
	</body>
  </html>