@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,900,700italic,100,100italic,300,300italic,900italic);

body {
  color: #333;
  font-family: 'Roboto', sans-serif; 
  font-weight:400;
  font-size: 14px;
  line-height: 18px;
  background-color: #FF9900;
  /*background-image: url("tlo3.jpg");*/
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: fixed;
}

.navbar_login {
  float: right;
}

.opacity{
  opacity: 0.7;
}

.backgroud_for_form {
  Width: 500px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;

  background:#dcc8a5; 
  border:2px solid #f6efdf; 
}

.backgroud_for_bets {
 Width: 500px;
  height: 180px;
  background-color: white;
  border-radius: 5px;
  margin-top: 100px;
}

.backgroud_for_post {
  Width: 500px;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  background:#dcc8a5; 
  
}

.form_style {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 5px;
border:1px solid; 
margin-bottom: 10px;
}

.edit_style {
padding: 5px;
margin-bottom: 10px;
}

.backgroud_for_form_content {
  Width: 300px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin-top: 100px;
}

.margin_left {
  text-align: center;
}

.margin {
  margin-bottom: 50px;
}

.button {
  width:70px;
  height: 70px;
  color:#f5f5f5;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 3px gray;
  background: #464646;
  border-radius:50%;
  line-height: 1.33;
  font-size: 20px;
  font-weight:bold;
  text-decoration:none;
  padding: 16px 13px;
}

.user_owner {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom:10px; 
}

.user_participant {
  position: absolute;
  margin-top: 10px;
  margin-left: 400px;
  margin-bottom:10px;
}

.bet_content {
  position: absolute;
  width: 300px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
  margin-left: 110px;
  margin-bottom:10px; 
  }



